.App {
  text-align: center;
}

.results{
  display: flex;
  flex-direction: column;
}

.results-table{
  border: 2px solid black;
}

.like-dislike{
  padding: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
}